{% load static %}
	<!-- jQuery 3 -->
	<script src="{% static 'assets/vendor_components/jquery/dist/jquery.js' %}"></script>

	<script src="{% static '/assets/vendor_components/jquery/dist/jquery.min.js' %}"></script>
	<!-- popper -->
	<script src="{% static 'assets/vendor_components/popper/dist/popper.min.js' %}"></script>
	
	<!-- Slimscroll -->
	<script src="{% static 'assets/vendor_components/jquery-slimscroll/jquery.slimscroll.js' %}"></script>

	<!-- FastClick -->
	<script src="{% static 'assets/vendor_components/fastclick/lib/fastclick.js' %}"></script>
	
	<!-- fox_admin App -->
	<script src="{% static 'js/template.js' %}"></script>
	
	<!-- fox_admin for demo purposes -->
	<script src="{% static 'js/demo.js' %}"></script>
	

	
