{%extends 'base.html' %}
{%load static %}
{%block content %}

        <!-- Page Title -->
        <div class="page-title-area page-title-one">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="page-title-item">
                        <h2>Meet Our Qualified Doctors</h2>
                        <ul>
                            <li>
                                <a href="index.html">Home</a>
                            </li>
                            <li>
                                <i class="icofont-simple-right"></i>
                            </li>
                            <li>Doctors</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Title -->

        <!-- Doctor Search -->
        <div class="doctor-search-area">
            <div class="container">
                <form>
                    <div class="row doctor-search-wrap">
                        <div class="col-sm-6 col-lg-6">
                            <div class="doctor-search-item">
                                <div class="form-group">
                                    <i class="icofont-doctor-alt"></i>
                                    <label>Search</label>
                                    <input type="text" class="form-control" placeholder="Doctor Name">
                                </div>
                                <button type="submit" class="btn doctor-search-btn">
                                    <i class="icofont-search-1"></i>
                                </button>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="doctor-search-item">
                                <div class="form-group">
                                    <i class="icofont-hospital"></i>
                                    <label>Category</label>
                                    <select class="form-control">
                                        <option>Neurosurgeon</option>
                                        <option>Cardiology</option>
                                        <option>Pathology</option>
                                        <option>Dental Care</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- End Doctor Search -->

        <!-- Doctors -->
        <section class="doctors-area doctors-area-two pt-100">
            <div class="doctor-shape">
                <img src="{% static 'img/doctor/2.png' %}" alt="Shape">
            </div>
            <div class="container">
                <div class="row">
                    {% for doc in docs %}

                        <div class="col-sm-6 col-lg-4 wow fadeInUp" data-wow-delay=".3s">
                            <div class="doctor-item">
                                <div class="doctor-top">
                                    <img src="{{doc.doc_image.url}}" alt="Doctor">
                                    <a href="#">Get Appointment</a>
                                </div>
                                <div class="doctor-bottom">
                                    <h3>
                                        <a href="{{ doc.get_absolute_url}}">{{doc.name}}</a>
                                    </h3>
                                    <span>{{doc.specializtion}}</span>
                                </div>
                            </div>
                        </div>

                    {% endfor %}
                                    

                </div>
            </div>
        </section>
        <!-- End Doctors -->

{%endblock%}        